:root {
    --color-blue-900: hsl(230, 35%, 7%);
    --color-blue-300: hsl(231, 77%, 90%);
    --color-white: hsl(0, 0%, 100%);

    --font-bellefair: 'Bellefair', serif;
    --font-barlow-condensed: 'Barlow Condensed', sans-serif;
    --font-barlow: 'Barlow', sans-serif;

    --font-size-144: 9rem;
    --font-size-96: 6rem;
    --font-size-80: 5rem;
    --font-size-56: 3.5rem;
    --font-size-40: 2.5rem;
    --font-size-32: 2rem;
    --font-size-28: 1.75rem;
    --font-size-24: 1.5rem;
    --font-size-20: 1.25rem;
    --font-size-18: 1.125rem;
    --font-size-16: 1rem;
    --font-size-15: 0.9375rem;
    --font-size-14: 0.875rem;
}