@use '../../styles/abstract/mixin.scss' as *;
@use '../../styles/base/typography.scss' as *;

.page--home {
    @include page("home");
}

.home {
    padding: 1.5rem;
    display: flex;
    flex: 1;
}

.home__container {
    display: flex;
}

.home__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home__hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.home__hero-subtitle {
    @include text-preset-6;
}

.home__hero-title {
    @include text-preset-1;
}

.home__hero-text {
    @include text-preset-9
}

.home__explore {
    // text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.home__explore-button {
    @include text-preset-4;
    border: none;
    background-color: var(--color-white);
    border-radius: 50%;
    aspect-ratio: 1;
    width: 9rem;
    cursor: pointer;
    transition: box-shadow 0.2s ease;

    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0, 1);

    @media (hover: hover) {
        &:hover {
            box-shadow: 0 0 0 88px rgba(255, 255, 255, 0.1);
            color: rgb(0, 0, 0, 0.5);
        }
    }
}

@include respond-tablet {
    .home {
        padding-block: 8rem;
        padding-inline: 2.5rem;
        justify-content: center;
    }

    .home__wrapper {
        max-width: 32rem;
    }

    .home__explore {
        align-items: flex-end;
    }

    .home__explore-button {
        width: 17rem;
        font-size: var(--font-size-32);
    }
}

@include respond-desktop {
    .home__container {
        align-items: flex-end;
    }

    .home__wrapper {
        max-width: 69.375rem;
        flex-direction: row;
    }

    .home__hero {
        text-align: left;
        width: 50%;
    }

    .home__explore {
        width: 50%;
        align-items: center;
        justify-content: flex-end;
    }

}